<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Coffee Shop Specs App</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="heading">
        <h1>Coffee Shop ☕ Specs</h1>
        <div class="heading-buttons">
        <a class="anchor-top" href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated: %}
        <a class="anchor-top" href="{{ url_for('edit', cafe_id=cafe.id) }}">Edit</a>
        {% endif %}
        </div>
    </div>

    <div class="parent">
        <div class="child-main">
            <span>{{cafe.name}}</span>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% set wifi = "✖️" %}
    {% set sockets = "✖️" %}
    {% set toilets = "✖️" %}

    {% if cafe.has_wifi %}
    {% set wifi = "✔️" %}
    {% endif %}

    {% if cafe.has_sockets %}
    {% set sockets = "✔️" %}
    {% endif %}

    {% if cafe.has_toilet %}
    {% set toilets = "✔️" %}
    {% endif %}

    {% if cafe.can_take_calls %}
    {% set calls = "✔️" %}
    {% endif %}

    <section id="details-section">
        <specs>
            <p>Has Wi-Fi: {{wifi}}</p>
            <p>Has Sockets: {{sockets}}</p>
            <p>Has Toilets: {{toilets}}</p>
            <p>Allowed to Take Calls: {{calls}}</p>
            <p>No of seats: {{cafe.seats}}</p>
            <p>Coffee Price: {{cafe.coffee_price}}</p>
            <p>Location: {{cafe.location}}</p>
        </specs>
        <pics>
            <img src=" {{cafe.img_url}} ">
        </pics>
        <locs>
            <a class="anchor-google" href="{{cafe.map_url}}" target="_blank" rel="noopener noreferrer">View on Google
                Map</a>
        </locs>
        </a>
    </section>

</body>

</html>